@import url("https://fonts.google.com/share?selection.family=Poppins:wght@400;600;800");
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  border-bottom: 1px solid;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  color: #1D1D1F
}
.linkPage:focus {
  box-shadow: 2px 2px 2px 2px black;
}
